<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\FAC_Web\BuildingPlatform\PortablePython3.11.5\python.exe|D:\FAC_Web\BuildingPlatform\PortablePython3.11.5\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> 
    <add key="PYTHONPATH" value="D:\FAC_Web\BuildingPlatform;D:\FAC_Web\BuildingPlatform\PortablePython3.11.5\stdlib" />
    <add key="WSGI_LOG" value="D:\FAC_Web\BuildingPlatform\app.log" />
  </appSettings>
</configuration>